.conteneur {
  display:flex;
  flex-direction: column;
  margin: 2vh auto 0 auto;
  justify-content: center;
  width:88%
}

.navtop {
  display: flex;
  justify-content: space-between;
}



#Ymage {
  width: 160px;
  height: 80px;
  /* margin-top: 1.5em ; */
}

#Yul {
  /* margin-top: 3.5em; */
}

#Yul div{
  /* display: inline; */
  color: #EC4363;
}

.Ycloud {
}

.Ydoc {
  display: grid;
  margin-top: 3.5em;
  height: 30px;
  width: 800px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.Ydoc button{
  border-radius: 4px;
  background-color: white;
  border: 1px solid rgb(201, 201, 201);
  color: #EC4363;
}

.Ydoc button:hover {
  background-color: rgb(206, 206, 206);
  color: black;
  cursor: pointer;
}

.Ybiggrid {
  display: grid;
  height: 1100px;
  width: 1000px;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 4px;
  row-gap: 4px;
  margin-top: 3em;
}

.Yhypperplan {
  display: flex;
  background-color: blue;
  grid-column-start: 1;
  grid-column-end: 3;
  flex-direction: column-reverse;
}

.texth {
  color: white;
}


.Ydossier {
  background-color: red;
  grid-column-start: 3;
  grid-column-end: 5;
}

.Ymatch {
  background-color: green;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

.YoffreAuto {
  background-color: violet;
  grid-column-start: 7;
  grid-column-end: 8; 
}

.Yprof {
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.YoffrePc {
  background-color: blue;
  grid-column-start: 3;
  grid-column-end: 5;
}

.Yisic {
  background-color: red;
  grid-column-start: 7;
  grid-column-end: 8;
}

.Ymater {
  background-color: red;
  grid-column-start: 3;
  grid-column-end: 5;
}

.Ymicro {
  background-color: violet;
  grid-column-start: 5;
  grid-column-end: 7;
}

.Yammer {
  background-color: blue;
  grid-column-start: 7;
  grid-column-end: 8;
}


.Ymail {
  background-color: blue;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}

.Yreglement {
  background-color: violet;
  grid-column-start: 3;
  grid-column-end: 5; 
}

.Ylearning {
  background-color: red;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end:6 ;
}

.Ypeda {
  background-color: green;
  grid-column-start: 7;
  grid-column-end: 8;
}

.Ybrand {
  background-color: yellowgreen;
  grid-column-start: 3;
  grid-column-end: 5;
}

.Yadobe {
  background-color: pink;
  grid-column-start: 7;
  grid-column-end: 8;
}

.Ychart {
  background-color: rgb(99, 19, 32);
  grid-column-start: 1;
  grid-column-end: 3;
}

.Ysoftware {
  background-color: rgb(5, 124, 139);
  grid-column-start: 3;
  grid-column-end: 5;
}

.Ygit {
  background-color: rgb(53, 231, 9);
  grid-column-start: 5;
  grid-column-end: 7;
}

.Ydoss {
  background-color: rgb(231, 9, 131);
  grid-column-start: 7;
  grid-column-end: 8;
}

.Yfisio {
  background-color: rgb(168, 9, 231);
  grid-column-start: 1;
  grid-column-end: 3;
}